<ng-container *ngIf="loading">
    <div class="loading-indicator-container">
        <mat-spinner color="primary" class="loading-indicator"></mat-spinner>
    </div>
</ng-container>

<div fxFlex fxFlexAlign="center" fxLayoutAlign="center center" class="login-container">
    <mat-card class="smooth-shadow-large stonks-background3">
        <mat-card-header fxFlex fxFlexAlign="center">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        
        <mat-card-content fxFlex fxLayoutAlign="center center">
            <mat-form-field color="accent">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="emailFormControl" required>
            </mat-form-field>
            
            <mat-form-field color="accent">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="passwordFormControl" required>
            </mat-form-field>
        </mat-card-content>
        
        <mat-card-footer fxFlex fxLayoutAlign="center center" fxLayoutGap="8%">
            <button mat-raised-button color="accent" (click)="authenticateUser()">Login</button>
            <button mat-raised-button color="primary" [routerLink]="signupRoute">Sign Up</button>
        </mat-card-footer>
    </mat-card>
</div>